body {
    margin: 0px;
    padding: 0px;
    background-color: white;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px;
}

a:link{
    font-size: 20px;
    margin-right: 20px;
    text-decoration: none;
    color: #0c0e0f;
}

a:visited{
   color: #000000;
}

a:hover{
    text-decoration: underline;
    color: rgb(8, 102, 224);
}

.message-box {
    width: 500px;
    height: 100px;
}